<section class="p-10 md:p-16 mb-[10%]" 
    style="background-image: url('<%= image_url("banner bg.png") %>'); background-position: center; background-repeat: no-repeat; background-size: cover;">

    <div class="flex flex-col">
        <div class="flex flex-col md:flex-row mb-[10%]">
            <div class="h-auto md:w-3/6 md:p-4 mb-8 md:mb-0">
                <p class="text-navy-blue text-4xl md:text-8xl font-bold mb-8">The Cheapest Textbooks</p>
                <p class="text-purple text-2xl md:text-4xl font-bold mb-8">Save Up to 90% On Millions of Titles</p>
                <p class="text-navy-blue text-lg md:text-xl font-semibold md:w-8/12 text-justify mb-8">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.
                </p>

                <button class="bg-purple px-5 py-3 text-base font-medium text-center text-white rounded-lg md:w-1/5">Get Started</button>
            </div>

            <div class="h-1/4 md:w-3/6">
                <%= image_tag("hero illustration.svg", alt: "hero")%>
            </div>
        </div>
        
        <div class="flex flex-col-reverse md:flex-row">
            <div class="h-1/4 md:w-3/6 md:p-4">
                <%= image_tag("Group 13597.png", alt: "group") %>
            </div>

            <div class="md:w-3/6 md:p-4">
                <div class="h-full flex items-center">
                    <div class="flex flex-col mb-8 md:mb-0">
                        <p class="text-white text-3xl font-bold mb-8">Our Commitment</p>
                        <p class="text-white text-xl mb-8">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
                            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum
                        </p>

                        <button class="bg-navy-blue px-5 py-3 text-light-blue font-medium text-center rounded-lg w-1/2 md:w-1/5 inline-flex items-center">Learn More 
                            <%= image_tag("arrow-right.png", alt: "arrow right", class: "ml-4 h-4 w-4 float-right") %></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-col w-full md:items-center">
            <div class="flex flex-col md:flex-row mb-8">
                <span class="text-white md:mr-2 text-3xl md:text-4xl font-bold">Trusted By Awesome</span> <span class="text-golden-yellow text-3xl md:text-4xl font-bold">Clients</span>
            </div>

            <div class="flex flex-col md:flex-row justify-between w-full">
                <div class="flex flex-row items-center mb-4 md:mb-0">
                    <%= image_tag("Group 13703.svg", alt: "binance", class: "h-10 w-10 mr-4")%>
                    <p class="text-xl text-white font-semibold">Binance</p>
                </div>

                <div class="flex flex-row items-center mb-4 md:mb-0">
                    <%= image_tag("Layer_x0020_1.svg", alt: "bitcoin", class: "h-10 w-10 mr-4") %>
                    <p class="text-xl text-white font-semibold">Bitcoin</p>
                </div>

                <div class="flex flex-row items-center mb-4 md:mb-0">
                    <%= image_tag("solana-sol-logo.svg", alt: "solana", class: "h-10 w-10 mr-4") %>
                    <p class="text-xl text-white font-semibold">Solana</p>
                </div>

                <div class="flex flex-row items-center mb-4 md:mb-0">
                    <%= image_tag("Ethereum.svg", alt: "ethereum", class: "h-10 w-10 mr-4") %>
                    <p class="text-xl text-white font-semibold">Ethereum</p>
                </div>

                <div class="flex flex-row items-center mb-4 md:mb-0">
                    <%= image_tag("tether-usdt-logo.svg", alt: "tether", class: "h-10 w-10 mr-4") %>
                    <p class="text-xl text-white font-semibold">Tether</p>
                </div>

                <div class="flex flex-row items-center mb-4 md:mb-0">
                    <%= image_tag("Layer 2.svg", alt: "xrp", class: "h-10 w-10 mr-4") %>
                    <p class="text-xl text-white font-semibold">XRP</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="p-16 mb-[10%]" style="background-image: linear-gradient(177deg, #FFFFFF 40%, #041A2E calc(40% + 3px));">
    <div class="flex flex-col w-full items-center mb-8">
        <p class="text-navy-blue text-3xl md:text-4xl font-bold mb-8">Explore Our Books</p>
        <p class="text-navy-blue text-xl md:text-2xl font-medium w-7/12 text-center">With our dedicated customer support team, you can rest easy know that we're doing 
            everything we can to save you time, money, and stress.
        </p>
    </div>

    <div class="flex flex-row-reverse px-16 mb-4 md:mb-0">
        <span style="transform: rotate(-10deg) skew(-5deg); font-family: cursive;" class="text-light-blue text-lg font-medium ml-4">Inquire us now to <br> avail discounts!</span>
        <%= image_tag("XMLID_2331_.svg", class: "h-10 w-10 rotate-180") %>
    </div>

    <div class="w-full mb-[10%]">
        <div class="flex flex-col md:flex-row md:justify-between">
            <div class="flex flex-col mb-6 md:mb-0">
                <%= image_tag("doughnuts & Doom.png", alt: "doughnuts and doom", class: "w-[500px] h-[500px] border-4 border-trasparent mb-6") %>
                <p class="text-2xl md:text-3xl text-navy-blue md:text-white font-semibold md:mb-6">Doughnuts and Doom</p>
                <a class="text-light-blue inline-flex items-center">View Book Details<%= image_tag("arrow-right.png", class: "ml-4 h-4 w-4") %></a>
            </div>

            <div class="flex flex-col mb-6 md:mb-0">
                <%= image_tag("The Bend of Luck.png", alt: "bend of luck", class: "w-[500px] h-[500px] border-4 border-trasparent mb-8") %>
                <p class="text-2xl md:text-3xl text-white font-semibold md:mb-6">The Bend of Luck</p>
                <a class="text-light-blue inline-flex items-center">View Book Details<%= image_tag("arrow-right.png", class: "ml-4 h-4 w-4") %></a>
            </div>

            <div class="flex flex-col mb-6 md:mb-0">
                <%= image_tag("The Underwater Welder.png", alt: "the underwater welder", class: "w-[500px] h-[500px] border-4 border-transparent mb-8") %>
                <p class="text-2xl md:text-3xl text-white font-semibold md:mb-6">The Underwater Welder</p>
                <a class="text-light-blue inline-flex items-center">View Book Details <%= image_tag("arrow-right.png", class: "ml-4 h-4 w-4") %></a>
            </div>
        </div>
    </div>
    
    <div class="flex flex-col mb-[5%]">
        <p class="text-golden-yellow text-2xl font-medium mb-8">LOREM IPSUM</p>
        <p class="text-white text-4xl md:text-5xl font-bold">3 Reasons To Shop With Us</p>
    </div>

    <div class="flex flex-col md:flex-row w-full justify-between">
        <div class="flex flex-col mb-8 md:mb-0 md:b-8 md:pr-10">
            <%= image_tag("package-box.svg", alt: "package box", class: "w-14 h-14 mb-6") %>
            <p class="text-xl md:text-2xl text-white font-semibold mb-6">All textbook rentals come with free return shipping.</p>
            <p class="text-xl text-white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut 
                labore et dolore Stet clita kasd gubergren, no sea takimata</p>
        </div>

        <div class="flex flex-col mb-8 md:mb-0 md:b-8 md:pr-10">
            <%= image_tag("help.svg", alt: "package box", class: "w-14 h-14 mb-6") %>
            <p class="text-xl md:text-2xl text-white font-semibold mb-6">Dedicated customer support and help portal.</p>
            <p class="text-xl text-white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut 
                labore et dolore Stet clita kasd gubergren, no sea takimata</p>
        </div>

        <div class="flex flex-col mb-8 md:mb-0 md:b-8 md:pr-10">
            <%= image_tag("piggy-bank.svg", alt: "package box", class: "w-14 h-14 mb-6") %>
            <p class="text-xl md:text-2xl text-white font-semibold mb-6">Buy or rent cheap textbooks & save up to $500 per year!</p>
            <p class="text-xl text-white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut 
                labore et dolore Stet clita kasd gubergren, no sea takimata</p>
        </div>
    </div>
</section>

<section class="md:p-16 mb-[10%]">
    <div class="flex flex-col items-center mx-[10%]">
        <p class="text-navy-blue text-2xl font-bold mb-4">Andrew Santellan</p>
        <p class="text-light-blue text-base font-semibold mb-4">Product Manager, Binance</p>
        <div class="flex flex-row items-center mb-[15%] md:mb-[5%]">
            <%= image_tag("Binance.svg", alt: "binance", class: "pr-4") %>
            <p class="text-xl text-gray font-medium">Binance</p>
        </div>

        <div class="bg-sky-blue flex flex-col md:w-4/6 items-center pb-12 px-12 rounded-3xl">
            <%= image_tag("user.png", alt: "user", class: "h-28 w-28", style: "position: relative; top: -50px; z-index: 3;") %>
            <p class="text-white text-lg md:text-xl text-center font-medium mb-8">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>

            <%= image_tag("star.svg", alt: "star", class: "w-1/2 md:w-1/6") %>
        </div>
    </div>
</section>

<section class="md:p-16 bg-light-gray">
    <div class="mx-[10%] md:mx-[25%] flex flex-col pt-14">
        <p class="text-navy-blue text-3xl md:text-4xl font-bold mb-14">Frequently Asked Question</p>
        <p class="text-purple text-xl font-semibold inline-flex items-center justify-between mb-6">Dedicated customer support and help portal
            <%= image_tag("Path 9712.svg", alt: "arrow down", class: "ml-4 h-4 w-4") %>
        </p>

        <p class="text-navy-blue text-lg font-semibold mb-14">With our dedicated customer support team, you can rest easy knowing 
            that we're doing everything we can to save you time, money, and stress
        </p>

        <p class="text-purple text-xl font-semibold inline-flex items-center justify-between mb-6">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
            <%= image_tag("Path 9712.svg", alt: "arrow down", class: "ml-4 h-4 w-4 rotate-180") %>
        </p>

        <p class="text-purple text-xl font-semibold inline-flex items-center justify-between mb-6">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
            <%= image_tag("Path 9712.svg", alt: "arrow down", class: "ml-4 h-4 w-4 rotate-180") %>
        </p>

        <p class="text-purple text-xl font-semibold inline-flex items-center justify-between mb-6">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
            <%= image_tag("Path 9712.svg", alt: "arrow down", class: "ml-4 h-4 w-4 rotate-180") %>
        </p>
    </div>
</section>